# systemd unit file for outgoing ssh; this connects to the remote (datacenter)
# Linux server and sets up some port forwards
[Unit]
Description=Persistent ssh tunnel to main datacenter server
After=network.target

[Service]
# -p [PORT]
# -l [user]
# -M 0 --> no monitoring
# -N Just open the connection and do nothing (not interactive)
# LOCALPORT:IP_ON_EXAMPLE_COM:PORT_ON_EXAMPLE_COM
ExecStart=/usr/bin/autossh -M 0 -N -q -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -o "ExitOnForwardFailure yes" -p 22 -l {{ cloudserver_user }} {{ cloudserver_hostname }} -R {{ cloudserver_ssh_callback_port }}:127.0.0.1:22 -R {{ cloudserver_mysql_callback_port }}:127.0.0.1:3306 -i {{ destdir }}/.ssh/id_{{ cloudserver_alias }}

Restart=always
RestartSec=30

[Install]
WantedBy=default.target
