# systemd unit file for the MessageBridge utility; this is the
# python script from the UK people that listens on the radio and
# logs packets to a CSV file.
#
# REMINDER: this requires, as root: # loginctl enable-linger lacm
[Unit]
Description=Log temperature packets from sensors

[Service]
Type=simple
WorkingDirectory={{ destdir }}
ExecStart={{ destdir }}/bin/sensor-listener
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
